@import url("https://fonts.googleapis.com/css?family=Lato:300");
.home-content {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    color: white;
    user-select: none;
    background-attachment: fixed;
    gap: 20%;
    overflow: hidden;

   
}