/* You can add global styles to this file, and also import other style files */

h1{
 font-size: 80px;
 font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
a{
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}
